In [1]:
# Q1. How do you comment code in Python? What are the different types of comments?

In [54]:
# There are two types of commen in python .
# 1) Single line  Eg= #This is a type of single line comment 

# 2) Multi line or Docstring  

# Eg= 
"""this is multi line comment type """

'this is multi line comment type '

In [6]:
# Q2. What are variables in Python? How do you declare and assign values to variables?

In [7]:
# Variables are used for to assign the value .
# We can assign value like this Eg= a=10

In [8]:
# Q3. How do you convert one data type to another in Python?

In [9]:
# we can convert data in in other data type like that Eg=

In [13]:
a=55.1

In [14]:
int(a)

55

In [15]:
# Q4. How do you write and execute a Python script from the command line?

In [19]:
# Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [55]:
a=[1,2,3,4,5]

In [ ]:
a

In [30]:
# Q6. What is a complex number in mathematics, and how is it represented in Python?

In [31]:
# complex number in marthmatics is like 5+8i

# in pyhton we represent complex number is like 5+8j

In [32]:
# Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [33]:
age = 25 # Is a correct way to declare a variable name age to assign value to it

In [34]:
# Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable 
#     belong to?

In [35]:
price=9.99

In [36]:
type(price)

float

In [37]:
# Price is a float type of variable

In [39]:
# Q9. Create a variable named name and assign your full name to it as a string. How would you print the 
#     value of this variable?

In [40]:
name='Aditya Maurya'

In [42]:
print(name)

Aditya Maurya

In [43]:
# Q10. Given the string "Hello, World!", extract the substring "World".

In [44]:
a= 'Hello World'

In [48]:
a[6:11]

'World'

In [49]:
# Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are 
#      currently a student or not.

In [51]:
is_student=True