In [3]:
#Q1. Create one variable containing following type of data:

In [4]:
#(i) string

In [5]:
a = 'aditya'

In [6]:
#(ii) list

In [7]:
l = [1,2,3,4,5,44.4,'aditya',True]

In [8]:
#(iii) float

In [9]:
f = 55.55

In [10]:
#(iv) tuple

In [11]:
t = (2,3,4,8,'pwskills',False)

In [13]:
#Q2. Given are some following variables containing data:

In [14]:
#(i)	var1 = ‘ ‘ = This is a string.

In [15]:
#(ii)	var2 = ‘[ DS , ML , Python]’ = This is a string

In [16]:
#(iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ] = This is list

In [17]:
#(iv)	var4 = 1. = This is a function to call all the associated function with the attach variable.

In [18]:
#Q3. Explain the use of the following operators using an example:

In [23]:
# / = this is used for the division.

In [24]:
10/5

2.0

In [19]:
# % = used for to get the remender

In [25]:
13%2

1

In [22]:
# // = used for division floor

In [26]:
6//2

3

In [ ]:
# ** = used for to know the power

In [27]:
5**3

125

In [30]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
# element and its data type.

In [31]:
m = [2 , 3 , 44.4 , 8+5j , 'aditya' , 'pwskills' , True , False , 2.2 , 5]

In [39]:
for i in m :
    print(type(m))
    if i==10:
        continue
    print(i)

<class 'list'>
2
<class 'list'>
3
<class 'list'>
44.4
<class 'list'>
(8+5j)
<class 'list'>
aditya
<class 'list'>
pwskills
<class 'list'>
True
<class 'list'>
False
<class 'list'>
2.2
<class 'list'>
5

In [ ]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
# times it can be divisible.

In [ ]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
# divisible by 3 or not.

In [ ]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing
# this property.

In [4]:
# mutable data type is such kind of data whome we cam change but in imutable we can not change the data. For eg-

In [7]:
n = [1,2,44,'aditya']

In [9]:
n[1]=5

In [10]:
n

[1, 5, 44, 'aditya']

In [11]:
# here we can see 2 is replaced by 5

In [13]:
t = (1,2,44,'aditya')

In [15]:
t[1]=5

TypeError: 'tuple' object does not support item assignment

In [ ]:
# here we can see in tulip we can not change the data