In [1]:
'''Q1. What is a database? Differentiate between SQL and NoSQL databases.'''

'Q1. What is a database? Differentiate between SQL and NoSQL databases.'

In [2]:
# A database is an organized collection of data, typically stored and accessed electronically from a computer system. It is designed to manage,
# store, and retrieve information in a structured way to facilitate efficient data management.

# Difference between SQL and NoSQL-

# SQL- 1) SQL databases are relational and use a tabular structure with predefined schemas. They follow a structured format and use tables to
#         store data with rows and columns.
#      2) SQL use a standard language for managing and querying data. 
#      3) Examole - MySQL , Oracle , SQL Server.

# NoSQL- 1) NoSQL databases are different and can have various data models like document-based, key-value pairs, wide-column stores.
#           They do not require a fixed schema and can handle unstructured or semi-structured data.
#        2) They are more flexible in handling large volumes of data and can scale horizontally, making them suitable for distributed systems.
#        3) Example -  MongoDB , Cassandra , Redis.

In [3]:
'''Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.'''

'Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.'

In [4]:
# DDL stands for Data Definition Language. It's a subset of SQL that allows users to define, modify, and drop the structure of a database and 
# its objects. DDL commands are used to manage the structure of the database, such as tables, views, indexes, etc.

# CREATE - The CREATE command is used to create new database objects such as tables, views, indexes, etc.
# DROP - The DROP command is used to delete database objects like tables, views, indexes, etc.
# ALTER - The ALTER command is used to modify the structure of an existing database object.
# TRUNCATE - The TRUNCATE command is used to remove all the records from a table but keeps the table structure intact.

In [10]:
# Examples -

# CREATE TABLE employees (
#    employee_id INT PRIMARY KEY,
#    first_name VARCHAR(50),
#    last_name VARCHAR(50),
#    department_id INT
# );

In [11]:
# DROP TABLE employees;

In [12]:
# ALTER TABLE employees
# ADD COLUMN email VARCHAR(100);

In [13]:
# TRUNCATE TABLE employees;

In [5]:
'''Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.'''

'Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.'

In [ ]:
# DML stands for Data Manipulation Language. It is a subset of SQL used to manage and manipulate the data within a database. DML commands enable
# users to perform various operations on the data stored in tables.

# INSERT - The INSERT command is used to add new records (rows) into a table.
# UPDATE - The UPDATE command is used to modify existing records within a table.
# DELETE - The DELETE command is used to remove specific records from a table.

In [ ]:
# Examples - 

# INSERT INTO students (student_id, student_name, age)
# VALUES (11, 'Aditya', 20);

In [ ]:
# UPDATE students
# SET age = 21
# WHERE student_id = 11;

In [ ]:
# DELETE FROM students
# WHERE student_id = 11;

In [ ]:
'''Q4. What is DQL? Explain SELECT with an example.'''

'Q4. What is DQL? Explain SELECT with an example.'

In [8]:
# DQL stands for Data Query Language. It is a subset of SQL responsible for retrieving and querying data from a database. DQL specifically 
# involves the SELECT statement, used to retrieve data from one or more tables.

# SELECT - The SELECT statement is used to retrieve data from a database. It allows you to specify the columns you want to retrieve and can 
#          include various options to filter, sort, and manipulate the data.

In [9]:
# Example - Suppose we have a table called "employees" with columns: employee_id, first_name, last_name, and department_id. To retrieve specific
# information from this table:

# SELECT first_name, last_name, department_id
# FROM employees
# WHERE department_id = 101
# ORDER BY last_name;

In [14]:
'''Q5. Explain Primary Key and Foreign Key.'''

'Q5. Explain Primary Key and Foreign Key.'

In [1]:
# Primary Key - 1) A Primary Key is a column or set of columns in a table that uniquely identifies each row or record in that table. It must 
#                  have a unique value for each record and cannot contain NULL values.
#               2) A Primary Key enforces entity integrity by ensuring that no duplicate or null values exist in the specified column(s). It 
#                  uniquely identifies each record in the table.
#               3) Typically, the Primary Key is used as the reference for relationships between different tables.

# Foreign Key - 1) A Foreign Key is a field in a table that essentially refers to the Primary Key in another table. It establishes a 
#                  relationship between two tables.
#               2) It maintains referential integrity by ensuring that the values in the Foreign Key column exist in the referenced table's
#                  Primary Key column or are NULL.
#               3) Foreign Keys help in establishing relationships between tables and ensuring that these relationships are maintained.

In [2]:
'''Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.'''

'Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.'

In [3]:
# First Install mysql-connector-python

import mysql.connector

mydb = mysql.connector.connect(
    host="your_host",
    user="your_username",
    password="your_password",
    database="your_database"
)

my_cursor = mydb.cursor()

# The cursor() method creates a cursor object which is used to execute SQL queries.
query = "SELECT * FROM your_table"

my_cursor.execute(query)

# The execute() method is used to execute SQL queries. Here, we are running a SELECT query on the specified table.

result = my_cursor.fetchall()

for i in result:
    print(i)
    
my_cursor.close()
mydb.close()

ModuleNotFoundError: No module named 'mysql'

In [4]:
'''Q7. Give the order of execution of SQL clauses in an SQL query.'''

'Q7. Give the order of execution of SQL clauses in an SQL query.'

In [ ]:
# In SQL, when constructing a query, the order of execution of the various clauses generally follows a sequence to ensure the correct retrieval
# and manipulation of data. The typical order of execution is as follows:

# FROM - The FROM clause specifies the tables or views from which the data will be retrieved.

# WHERE - The WHERE clause filters the rows returned by specifying a condition. It restricts the result set to satisfy the conditions specified.

# GROUP BY - The GROUP BY clause groups rows sharing a common value in one or more columns.

# HAVING -The HAVING clause filters rows after the GROUP BY clause has grouped the data. It works similarly to the WHERE clause but is used with 
# aggregate functions.

# SELECT -  The SELECT clause specifies the columns to be retrieved from the database. It operates on the rows that are determined by the FROM,
# WHERE, and GROUP BY clauses.

# ORDER BY - The ORDER BY clause sorts the result set based on the specified columns either in ascending or descending order.

# LIMIT/OFFSET- These are used in some SQL implementations (like MySQL and PostgreSQL) to limit the number of rows returned or skip a specified
# number of rows.